.portlet-static-luonto-liitto {
    height: 100px;
}
.carousel {
    margin: auto auto 0.7em;
}

.carousel-pager {
    top: -50px;
}


#main-feed {
    margin: 0 0 3em;
}

/* Search event */

#search-event-results article h1 {
    font-size: 1.2em;
}
#search-event-results article h1 a:link {
    border-bottom: 0.1em solid #0084A7;
}
#search-event-results article h2 {
    font-size: 1em;
    font-weight: normal;
}
#search-event-results article h2 span.datetime {
    color: #A7A7A7;
}

/* Footer */
#footer-info h1, #footer-subfolders article h1 {
    font-size: 1.1em;
}

/*Media Queries*/
@media screen and (max-width: 1300px) {
    #portal-header,
    #portal-columns {
        margin: 0 5%;
        width: 90%;
    }
    .carousel {
    margin: auto 5% 0.7em;
    width: 90%;
}
}