.portlet-static-luonto-liitto {
    height: 100px;
}
.carousel {
    margin: auto auto 0.7em;
}

.carousel-pager {
    top: -50px;
}


#main-feed {
    margin: 0 0 3em;
}

/* Footer */
#footer-info h1, #footer-subfolders article h1 {
    font-size: 1.1em;
}